<html>
	<head>
		<title>BYU Pow Wow</title>
		<link href="angular_lib/bootstrap.min.css" rel="stylesheet">
		<script src = "angular_lib/angular.min.js"></script>
		<script src = "angular_lib/angular-ui-router.js"></script>
		<script src = "/javascripts/angularApp.js"></script>
		<style> .glyphicon-thumbs-up { cursor:pointer } </style>
	</head>

	<body ng-app = "powwow">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<ui-view></ui-view>
			</div>
		</div>
		
		<script type="text/ng-template" id="/home.html">
			
			<div class="page-header">
				<h1>BYU Pow Wow Score Book<h1>
			</div>

			<div ng-repeat = "contestant in contestants | orderBy: '-upvotes'">
				<span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(contestant)"></span>
				{{contestant.upvotes}}
				
				<span style="font-size:20px; margin-left:10px;">
					<a ng-show="contestant.link" href="{{contestant.link}}">
						{{contestant.title}}
					</a>
					<span ng-hide="contestant.link">
						{{contestant.title}}
					</span>
				</span>

				<span>
					<a href="#/contestants/{{contestant._id}}">Comments</a>
				</span>

			</div>

			<form ng-submit = "addContestant()" style="margin-top:30px;">
				<h3>Add a new post</h3>
				<div class="form-group">
					<input type="text"
						class="form-control"
						placeholder="Title"
						ng-model="title"></input>
					</div>
				<div class="form-group">
					<input type="text"
						class="form-control"
						placeholder="Link"
						ng-model="link"></input>
				</div>
				<button type="submit" class="btn btn-primary">Add Contestant</button>
			</form>

		</script>

		<script type="text/ng-template" id="/contestants.html">
			<div class="page-header">
				<h3>
					<a ng-show="contestant.link" href="{{contestant.link}}">
						{{contestant.title}}
					</a>
					<span ng-hide="contestant.link">
						{{contestant.title}}
					</span>
				</h3>
			</div>

			<div ng-repeat="comment in contestant.comments | orderBy: '-upvotes'">
				<span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(comment)"></span>
				{{comment.upvotes}} - by {{comment.author}}
				<span style="font-size:20px; margin-left:10px;">
					{{comment.body}}
				</span>
			</div>

			<form ng-submit="addComment()" style="margin-top:30px;">
				<h3>Add a new comment</h3>

				<div class="form-group">
					<input type="text" class="form-control" placeholder="Comment" ng-model="body"></input>
				</div>
				<button type="submit" class="btn btn-primary">Post</button>
			</form>

		</script>
	</body>
</html>